@page {
  size: B5;
}
html {
  background-color: #999;
}
body {
  background-color: #fff;
  width: 182mm;
  height: 257mm;
  padding: 20mm;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}
a {
  color: #3377ff;
  text-decoration: underline;
}
h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1.5rem 0 0.5rem;
}
h2:first-child {
  margin-top: 0;
}
p {
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
  text-align: justify;
  text-justify: inter-ideograph;
}
strong {
  display: inline;
  font-weight: bold;
}
small {
  display: inline-block;
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 0.4rem;
}
ul {
  font-size: 0.8rem;
  list-style-type: disc;
  padding-left: 1rem;
}
